<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>

<div ng-app="mainApp" data-ng-controller="crud_Controller" >

    <div class="" ng-init="init()">

        <div class="col-md-6" ng-style="css_form">
            <form name="myForm">

                <div class="col-md-12">
                    <h3 class="center ">Edit Employee Details </h3>
                    <hr>
                </div>
                <p>&nbsp;</p>

                <div class="col-md-3">
                    <b>First Name :</b>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="app" ng-model=" EmpModel.Firstname" required ng-init="myVar =false">
                    <!-- <span ng-if="myVar">{{myForm.app.$valid}}</span>-->
                </div>

                <div class="col-md-3">
                    <b>Last Name :</b>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="app" ng-value="$index" ng-model=" EmpModel.LastName" required ng-init="myVar =false">
                    <!-- <span ng-if="myVar">{{myForm.app.$valid}}</span>-->
                </div>
                <p>&nbsp;</p>
                <div class="col-md-3">
                    <b>Email ID :</b>
                </div>
                <div class="col-md-3" ng-pattern="emailFormat">
                    <input type="email" class="form-control"  ng-model=" EmpModel.Emailid" required>
                </div>

                <div class="col-md-3">
                    <b>Phone No :</b>
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control"   ng-model=" EmpModel.PhoneNo" required>
                </div>
                <p>&nbsp;</p>
                <div class="col-md-9">
                    <a href=""><button  class="btn btn-info update-btn23" value=""  ng-click="updateData()">Update</button></a>
                    <!--<button type="submit" class="btn btn-primary add-btn" value=" "  ng-click="addData()">Add</button>-->
                    <!--<button  class="btn btn-info update-btn" value=""  ng-click="updateData()">Update</button>-->
                    <a href=""><button type="submit" class="btn btn-primary cnl-btn12" value=" "  ng-click="clearModel()">Cancel</button></a>

                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>
<script src="main.js"></script>
